In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
URL = 'https://raw.githubusercontent.com/reddyprasade/Machine-Learning-Problems-DataSets/master/Classification/Weather.csv'

In [3]:
Data = pd.read_csv(URL)
Data.head()

    Outlook  Temp Humidity Windy Play  Unnamed: 5
0     Rainy   Hot     High     f   no         NaN
1     Rainy   Hot     High     t   no         NaN
2  Overcast   Hot     High     f  yes         NaN
3     Sunny  Mild     High     f  yes         NaN
4     Sunny  Cool   Normal     f  yes         NaN

In [4]:
Data.tail()

     Outlook  Temp Humidity Windy Play  Unnamed: 5
9      Sunny  Mild   Normal     f  yes         NaN
10     Rainy  Mild   Normal     t  yes         NaN
11  Overcast  Mild     High     t  yes         NaN
12  Overcast   Hot   Normal     f  yes         NaN
13     Sunny  Mild     High     t   no         NaN

In [5]:
Data.drop(['Unnamed: 5'],axis =1, inplace =True)

In [6]:
Data

     Outlook  Temp Humidity Windy Play
0      Rainy   Hot     High     f   no
1      Rainy   Hot     High     t   no
2   Overcast   Hot     High     f  yes
3      Sunny  Mild     High     f  yes
4      Sunny  Cool   Normal     f  yes
5      Sunny  Cool   Normal     t   no
6   Overcast  Cool   Normal     t  yes
7      Rainy  Mild     High     f   no
8      Rainy  Cool   Normal     f  yes
9      Sunny  Mild   Normal     f  yes
10     Rainy  Mild   Normal     t  yes
11  Overcast  Mild     High     t  yes
12  Overcast   Hot   Normal     f  yes
13     Sunny  Mild     High     t   no

In [7]:
Data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Outlook   14 non-null     object
 1   Temp      14 non-null     object
 2   Humidity  14 non-null     object
 3   Windy     14 non-null     object
 4   Play      14 non-null     object
dtypes: object(5)
memory usage: 688.0+ bytes

In [8]:
Data.isna().sum()

Outlook     0
Temp        0
Humidity    0
Windy       0
Play        0
dtype: int64

In [9]:
from sklearn.preprocessing import LabelEncoder

In [10]:
le = LabelEncoder()

In [11]:
Data['Outlook'] = le.fit_transform(Data['Outlook'])
Data

    Outlook  Temp Humidity Windy Play
0         1   Hot     High     f   no
1         1   Hot     High     t   no
2         0   Hot     High     f  yes
3         2  Mild     High     f  yes
4         2  Cool   Normal     f  yes
5         2  Cool   Normal     t   no
6         0  Cool   Normal     t  yes
7         1  Mild     High     f   no
8         1  Cool   Normal     f  yes
9         2  Mild   Normal     f  yes
10        1  Mild   Normal     t  yes
11        0  Mild     High     t  yes
12        0   Hot   Normal     f  yes
13        2  Mild     High     t   no

In [12]:
Data['Temp'] = le.fit_transform(Data['Temp'])
Data

    Outlook  Temp Humidity Windy Play
0         1     1     High     f   no
1         1     1     High     t   no
2         0     1     High     f  yes
3         2     2     High     f  yes
4         2     0   Normal     f  yes
5         2     0   Normal     t   no
6         0     0   Normal     t  yes
7         1     2     High     f   no
8         1     0   Normal     f  yes
9         2     2   Normal     f  yes
10        1     2   Normal     t  yes
11        0     2     High     t  yes
12        0     1   Normal     f  yes
13        2     2     High     t   no

In [13]:
Data['Humidity'] = le.fit_transform(Data['Humidity'])
Data

    Outlook  Temp  Humidity Windy Play
0         1     1         0     f   no
1         1     1         0     t   no
2         0     1         0     f  yes
3         2     2         0     f  yes
4         2     0         1     f  yes
5         2     0         1     t   no
6         0     0         1     t  yes
7         1     2         0     f   no
8         1     0         1     f  yes
9         2     2         1     f  yes
10        1     2         1     t  yes
11        0     2         0     t  yes
12        0     1         1     f  yes
13        2     2         0     t   no

In [14]:
Data['Windy'] = le.fit_transform(Data['Windy'])
Data

    Outlook  Temp  Humidity  Windy Play
0         1     1         0      0   no
1         1     1         0      1   no
2         0     1         0      0  yes
3         2     2         0      0  yes
4         2     0         1      0  yes
5         2     0         1      1   no
6         0     0         1      1  yes
7         1     2         0      0   no
8         1     0         1      0  yes
9         2     2         1      0  yes
10        1     2         1      1  yes
11        0     2         0      1  yes
12        0     1         1      0  yes
13        2     2         0      1   no

In [15]:
Data['Play'] = le.fit_transform(Data['Play'])
Data

    Outlook  Temp  Humidity  Windy  Play
0         1     1         0      0     0
1         1     1         0      1     0
2         0     1         0      0     1
3         2     2         0      0     1
4         2     0         1      0     1
5         2     0         1      1     0
6         0     0         1      1     1
7         1     2         0      0     0
8         1     0         1      0     1
9         2     2         1      0     1
10        1     2         1      1     1
11        0     2         0      1     1
12        0     1         1      0     1
13        2     2         0      1     0

In [16]:
X = Data.drop(['Play'],axis=1)

In [17]:
y = Data.Play

In [18]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.3)

In [19]:
from sklearn.naive_bayes import BernoulliNB, ComplementNB,MultinomialNB,GaussianNB

In [20]:
Bnb = BernoulliNB(alpha=0.01)
Cnb = ComplementNB(alpha=0.2)
Mnb = MultinomialNB(alpha=0.3)
Gnb = GaussianNB()

In [21]:
Bnb.fit(X_train,y_train)

BernoulliNB(alpha=0.01)

In [22]:
Bnb.alpha

0.01

In [23]:
Train_Score = Bnb.score(X_train,y_train)

In [24]:
Train_Score

0.8888888888888888

In [25]:
Bnb_new_prediction = Bnb.predict(X_test)

In [26]:
Test_Score = Bnb.score(X_test,y_test)

In [27]:
Test_Score

0.8

In [28]:
Cnb.fit(X_train,y_train)

ComplementNB(alpha=0.2)

In [29]:
Cnb.alpha

0.2

In [30]:
Train_Score = Cnb.score(X_train,y_train)

In [31]:
Train_Score

1.0

In [32]:
Bnb_new_prediction = Cnb.predict(X_test)

In [33]:
Test_Score = Cnb.score(X_test,y_test)

In [34]:
Test_Score

0.4

In [35]:
Mnb.fit(X_train,y_train)

MultinomialNB(alpha=0.3)

In [36]:
Mnb.alpha

0.3

In [37]:
Train_Score = Mnb.score(X_train,y_train)

In [38]:
Train_Score

0.8888888888888888

In [39]:
Bnb_new_prediction = Mnb.predict(X_test)

In [40]:
Test_Score = Mnb.score(X_test,y_test)

In [41]:
Test_Score

0.6

In [42]:
Gnb.fit(X_train,y_train)

GaussianNB()

In [43]:
Train_Score = Gnb.score(X_train,y_train)

In [44]:
Train_Score

1.0

In [45]:
Bnb_new_prediction = Gnb.predict(X_test)

In [46]:
Test_Score = Gnb.score(X_test,y_test)

In [47]:
Test_Score

0.6